* {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

.App {
    /*     scroll-snap-type: y mandatory;
    overflow-y: scroll; */
    /*     max-height: 100vh; */
}

/* .content-container {
    margin-top: 1rem;
    width: 90%;
    border: 10px solid black;
} */



.section {
    /*     scroll-snap-align: start; */
    position: relative;
    padding-top: 2rem;
}

.first-section {
    padding-top: 4rem;
    position: relative;
}

.section__space-anchor {
    position: absolute;
    /* top: -65px; */
    top: -100px;
    left: 0px;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.projectcard__button {
    padding: 20px;
}

.tech-icon__active {
    color: #e91e63;
    font-size: 30px;
}

.skills__board {
    margin-bottom: 3rem;
}

/* .skillspaper__text-container {
    padding: 15px;
} */



.skill-row {
    display: flex;
    align-items: center;
}

.section__space-anchor--less-space {
    /* position: relative; */
    top: -80px;
    /* left: 0px; */
}

.contact__container {
    padding: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    /* margin: 20px; */
}

/* .expand-less {
    margin-bottom: 5rem;
} */